.race-detail {
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  margin: 20px auto;
}

.race-detail__flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 10px;
}

.race-detail__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.race-detail__circuit-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 10px;
}

.race-detail__circuit-section ul {
  width: 80%;
  padding: 20px;
}

.race-detail__circuit-section li {
  border-bottom: 1px solid tan;
  padding: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-right: 30px;
  white-space: nowrap;
}

.race-detail__circuit-section span {
  text-align: right;
  margin-left: 2px;
}

.race-detail__circuit-image {
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin: 70px 10px;
}

.race-detail__tab {
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: rgb(162, 162, 162);
  border-radius: 5px;
  margin-bottom: 20px;
}

.race-detail__button {
  width: 75%;
  padding: 16px;
  border: none;
  background-color: rgb(162, 162, 162);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin: 6px;
  font-size: 16px;
  font-weight: 600;
}

.race-detail__button--active {
  background-color: #d6d6d6;
}

@media (max-width: 1160px) {
  .race-detail__circuit-section {
    flex-direction: column;
  }

  .race-detail {
    width: 95%;
  }

  .race-detail__circuit-section li {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .race-schedules {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .race-detail__circuit-section li {
    font-size: 16px;
  }

  .race-detail__circuit-section ul {
    width: 100%;
  }
  .race-detail__title h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .race-detail__circuit-section li {
    font-size: 14px;
  }
}
