.home-page {
  height: 100%;
  background-image: url(../../asset//images/f1__background.jpg);
  background-size: cover;
  background-position: center 15%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 1210px) {
  .home-page {
    background-image: none;
  }
}
