.schedule-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 100px;
  gap: 20px;
}
.schedule-summary__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.schedule-summary__section--highlight {
  flex: 1.3;
}

.schedule-summary__title {
  margin: 20px 8px;
  color: black;
  color: whitesmoke;
}

.schedule-summary__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  margin: 8px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgb(211, 231, 255);
  background-color: #2e2e2eac;
  width: 300px;
  height: 100%;
}

.schedule-summary__card:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease;
}

.schedule-summary__card--highlight {
  width: 80%;
  min-width: 320px;
  max-width: 460px;
  box-shadow: 5px 5px 15px 2px red;
}

.schedule-summary__gp-name {
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.schedule-summary__FlagImage {
  width: 200px;
  height: 120px;
  margin-top: 6px;
}

.schedule-summary__date-range {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1210px) {
  .schedule-summary__card {
    background-color: #2e2e2e;
  }
  .schedule-summary__gp-name,
  .schedule-summary__date-range {
    color: white;
  }
  .schedule-summary__title {
    color: black;
  }
}

@media (max-width: 768px) {
  .schedule-summary {
    flex-direction: column;
    padding: 0 20px;
  }
}
